* {
  box-sizing: border-box;
}

h1 {
  font-family: Arial, serif;
  font-size: 60px;
  color:#545548;
  letter-spacing: -3px;
  text-align:center;
  margin:0;
  padding: 20px 0;
}

h2 {
  font-family:georgia, sans-serif;
  color:#545548;
  font-weight: 700;
}

li, p {
  font-family:arial, sans-serif;
  color:#545548;
  font-size:22px;
  line-height:150%;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  background:#ADB561;
  margin-bottom:50px;
}

nav {
  display:flex;
  justify-content: center;
  background:#ADB561;
  margin-bottom:10px;
}

nav ul {
  font-family: Montserrat;
  display: flex;
  padding-left:0;
  flex-direction:row;
  list-style:none;
  background:#ADB561;
  margin:auto;
}

nav ul li {
  margin-right:10px;
  font-family:Montserrat;
}

nav ul li:last-child {
  margin-right:0;
}

nav ul li a {
  font-family:Montserrat;
  color:#545548;
  text-decoration:none;
}

.group {
  display:flex;
  flex-direction:column;
  margin-bottom:50px;
}

.item {
  flex:1;
  margin:10px;
}

img {
  width:100%;
}

.curve {
  border-radius:10%;
}

.center {
  text-align:center;
}

.color {
  background:#cdd19d;
}

.wrapper {
  padding:20px 0;
}

.ul {
  width:150px;
  margin:auto;

}

form input, form textarea {
  width:100%;
  margin-bottom:20px;
}

form textarea {
  height:200px;
}

footer {
  background:#ADB561;
  text-align:center;
  font-family:arial;
  height:90px;
  padding-top:17px;
  margin:auto;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction:row;
  }

section {
  width:60%;
  margin:auto;
}
header {
  flex-direction:row;
  justify-content:space-around;
}

nav ul li a {
font-size:30px
}

nav ul li:last-child {
  margin-right:10px;
}

nav {
    margin-bottom:0;

}

}
